{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-nav">
        {% if request.user.is_authenticated %}
          <button class="btn btn-light nav-link text-decorator-none text-reset">반갑습니다. {{ request.user.username }}님</button>
          <button class="btn btn-light"><a href="{% url 'accounts:update' %}" class="nav-link text-decorator-none text-reset">회원정보수정</a></button>
          <form action="{% url 'accounts:logout' %}" method="POST" class="nav-link">
            {% csrf_token %}
            <button type="submit" class="btn btn-light">로그아웃</button>
          </form>
          <form action="{% url 'accounts:delete' %}" method="POST" class="nav-link">
            {% csrf_token %}
            <button type="submit" class="btn btn-light">회원탈퇴</button>
          </form>
        {% else %}
          <button class="btn btn-light"><a href="{% url 'accounts:login' %}" class="nav-link text-decorator-none text-reset">로그인</a></button>
          <button class="btn btn-light"><a href="{% url 'accounts:signup' %}" class="nav-link text-decorator-none text-reset">회원가입</a></button>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  {% bootstrap_javascript %}
</body>
</html>