{% extends 'base.html' %}
{% block content %}
<h2>{{ movie.title }}</h2>
<p>관객 수 : {{ movie.audience}}</p>
<p>개봉일 : {{ movie.release_date }}</p>
<p>장르 : {{ movie.genre }}</p>
<p>평점 : {{ movie.score }}</p>
<img src="{{ movie.poster_url }}" alt="">
<p>줄거리 : {{ movie.description }}</p>
<form action="{% url 'movies:edit' movie.pk %}" method='POST'>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">수정</button>
</form>
<form action="" method='POST'>
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">삭제</button>
</form>

{% endblock content %}